<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hit.TechNews"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name="hit.TechNews.App"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/stocknews"
        android:label="科技新闻"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning,RtlEnabled"
        tools:targetApi="n"
        tools:replace="android:label">
        <activity
            android:name="hit.TechNews.MainActivity"
            android:label="科技新闻"
            android:theme="@style/DayLightTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hit.TechNews.Mine.LoginActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name="hit.TechNews.About"
            android:theme="@style/DayLightTheme" />
        <activity
            android:name=".News.NewsDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:theme="@style/DayLightTheme"
            android:name="hit.TechNews.Mine.UserCenter">
        </activity>
        <activity android:name=".Mine.SettingActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".Mine.TrackActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".Mine.AttentionActivity"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>